<!-- navigation -->
<div class="uk-position-relative">
  <div class="uk-position-top">
      <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
          <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                  <li class="uk-active"><a href="/home">Home</a></li>
                  <li><a href="/gallery">Gallery</a></li>
                  <li><a href="/contact">Contact</a></li>
              </ul>
          </div>
      </nav>
  </div>
</div>

<!-- content -->
<div class="uk-container">
  <h1>Hello World</h1>
  <p>this is a paragraph</p>

  <app-home></app-home>
</div>