<div class="uk-container">

  <br />

  <h2>Requirements for my video editor</h2>

  <table>
    <tr>
      <th>Requirements</th>
      <th>Davinci Resolve</th>
      <th>LumaFusion</th>
      <th>Windows Movie Maker</th>
    </tr>
    <tr>
      <td>What are the costs?</td>
      <td class="textAlign">Free</td>
      <td class="textAlign">20.-</td>
      <td class="textAlign">Free (discontinued on Windows though)</td>
    </tr>
    <tr>
      <td>I'm able to download, install and start the program</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to import my videos</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to let the video play smoothly (without animations etc.)</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to cut my videos how I want to</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to import gifs and animations and use them</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to change the temperature and filter of the video</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
    <tr>
      <td>I'm able to dispatch the video from the audio and do what i want with it (delete, distort, edit etc.)</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
    <tr>
      <td>I'm able to cut the music to my liking</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to import the music</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to change the speed of my video without the quality being destroyed</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
    <tr>
      <td>I'm able to render the video without destroying the quality</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
    <tr>
      <td>I'm able to render my video in the resolution of my liking</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
  </table>
  <br />

  <div class="uk-text-left">
    I obviously used LumaFusion as my video editor. I would have used DaVinci but the only reason because I didn't use
    it, is because I could not
    start the program properly not let the video play smoothly. I researched the problem and it seems like DaVinci
    prefers a Laptop/PC with a
    Nvidia graphics card. And as I did not have a Nvidia graphics card in my Laptop, it was clear for me to not use
    DaVinci.
  </div>
  <br />


  <h2>Requirements for my photo editor</h2>
  <table>
    <tr>
      <th>Requirements</th>
      <th>Snapseed</th>
      <th>Lightroom</th>
      <th>VSCO</th>
    </tr>
    <tr>
      <td>What are the costs?</td>
      <td class="textAlign">Free</td>
      <td class="textAlign">120.-/year <br />
        (just Lightroom, without CC)</td>
      <td class="textAlign">Free</td>
    </tr>
    <tr>
      <td>I'm able to download, install and start the program</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to import my photos</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to add filters</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to crop the image if I have to</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✓</td>
    </tr>
    <tr>
      <td>I'm able to heal/smooth the image if I have to (so that the difference is not noticable)</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✗</td>
    </tr>
    <tr>
      <td>I'm able to change the brightness the image</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
    <tr>
      <td>I'm able to change the tone of the image</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
    <tr>
      <td>I'm able to change the story/feel/vibes the image sends out (warmth and coolness)</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
    <tr>
      <td>I'm able to add vignette to the image if I want to</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
    <tr>
      <td>I'm able to change the exposure of the image if I have to</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
    <tr>
      <td>I'm able to change the values of the light, blacks, whites and shadows of the image if I have to</td>
      <td class="textAlign">✗</td>
      <td class="textAlign">✓</td>
      <td class="textAlign">✗</td>
    </tr>
  </table>
  <br />

  <div class="uk-text-left">
    Based on these requirements I decided on using the Apps Snapseed and Lightroom. I used Snapseed only because the
    healing/cloning options
    matched my expectations more than the one from Lightroom.
    <br />
    But for the editing part (light, exposure, feel, temperature, saturation etc.) I stuck to Lightroom.
  </div>
  <br />


  <h2>Why I chose Angular with Firebase and UIkit</h2>
  <div class="uk-text-left">
    I chose the framework Angular because I am used to programming with it. In Angular you write TypeScript, HTML and
    CSS/SASS/LESS. Angular allows you to write a
    single page web application with really good performance. Oftentimes, Angular is used together with Firebase from
    Google. Firebase allows you to connect your
    web app through a CDK and use their Database and Storage.

    <br />
    <br />

    You don't have to create a new database yourself and integrate it in your project. Besides, there are a lot of
    really good tutorials and how to use Firebase and
    how to properly integrate it in your project and use it to its fullest.

    <br />
    <br />

    Before I started the project though, I wasn't sure what I wanted to use. I stuck to plain HTML and CSS for a while,
    and then I realized it would probably take
    too long for me to implement everything all by myself. That's why I settled on Angular in the end because I knew I
    would have to implement the web app fast.

    <br />
    <br />

    Now for UIkit, the CSS framkework I used. First, I was on the search of a cool new CSS framework, because I always
    used the same ones (Angular Material, Bootstrap, BULMA etc.)
    and I was getting a little bored with them so I decided to search a new one. And I settled on UIkit because it
    already had a lot of Broswer support and functions implemented
    that could be used right off the bat. Other than that, I found it really appealing from the design point of view.

    <br />
    <br />

    It was very important for me that all of the frameworks and languages I used in my project were fast, agile,
    lightweight and easy to understand/implement and use to their fullest.
    And all of those frameworks I've used provide me with those kind of requirements and I'm rather happy to have
    decided on them.
  </div>

  <br />
  <br />

  <h2>Data formats and for what use they are</h2>
  <table>
    <tr>
      <th>Format</th>
      <th>Use</th>
      <th>Why I used it/did not use it</th>
    </tr>
    <tr>
      <td>jpg/jpeg</td>
      <td class="textAlign">
        It's used as a file extension for lossy graphics (losless compression - you don't lose quality while compressing
        files). JPEG stands for Joint Photographic Experts Group who created the standard. JPG are JPEG are the
        most common used formats. It's best used for digital photography and (realistic) paintings.
      </td>
      <td class="textAlign">I used JPG to compress and display my pictures taken on my website. The reason why I used it
        was, because it's ideal for digital photography and doesn't ruin the quality/picture.</td>
    </tr>
    <tr>
      <td>png</td>
      <td class="textAlign">PNG stands for Portable Graphic Format and is used to store uncompressed raster images. It's
        a lossless data compression and was created to replace GIF (Graphic Interchange Format). PNGs have the ability
        to display transparent images/backgrounds. Additionally, PNG files are also capable of storing and containing
        24bit RGB color palettes.</td>
      <td class="textAlign">I used a PNG image for my curosor on my website.</td>
    </tr>
    <tr>
      <td>gif</td>
      <td class="textAlign">GIF stands for Graphical Interchange Format and it's an image format. It's used to animate
        images without sound in a small size. GIFs are a series of images or a soundless video, that will loop without
        stopping.</td>
      <td class="textAlign">GIFs are a great way to animate images and loop them without a stop. Although in my opinion
        the quality from the images or the video is getting much reduced. Besides these negative things, I still used it
        as my loading icon because it supportes transparent backgrounds like PNG.</td>
    </tr>
    <tr>
      <td>bmp</td>
      <td class="textAlign">The BMP format is known as the bitmap image files or simply bitmap. It's also commonly used
        as raster graphic format for saving image files. It was introduced by Windows and is now used on both Windows
        and Mac. The BMP format stores color data for every pixel in the image without any compression. This is
        especially good if you're looking for a way to have hight quality crisp images in a large size.</td>
      <td class="textAlign">I didn't use it because I had no use for it in my website. It's usually mostly used for
        icons on Windows (folder icons, customized icons, firefox icons etc.)</td>
    </tr>
    <tr>
      <td>mp3</td>
      <td class="textAlign">MP3 is an audio file format that uses a compression algorithm to reduce the allover size of
        the audio file. It's known as lossy files (also used in JPG, PNG etc.). MP3 files are commonly used to store
        songs or a whole CD for that matter and require very little space. </td>
      <td class="textAlign">I used multiple MP3 files to insert the music into my video.</td>
    </tr>
    <tr>
      <td>mp4</td>
      <td class="textAlign">MP4 files were created from the ISO/IEC and Motion Picture Expert Group (MPEG) who also
        invented MP3. It's now an internationally used standard for audio visual-coding or videos and it's based on the
        QuickTime file format.</td>
      <td class="textAlign">My video on my website is rendered in MP4 because it's a standard and does not compress nor
        ruin the quality of my video raw files that much.</td>
    </tr>
    <tr>
      <td>avi</td>
      <td class="textAlign">AVI is short for Audio Video Intervealed file and is used to store, as the name suggests,
        audio and video files. The creators of this format or rather the users are Microsoft Windows. AVI files require
        a special player to run the file. It later got replaced more and more by MP4.</td>
      <td class="textAlign">I did not use AVI due to the fact, that it's not everywhere supported anymore.</td>
    </tr>
    <tr>
      <td>wav</td>
      <td class="textAlign">As AVI, WAV is also an audio format that was created by Microsoft. MAV files have become a
        standard to a PCs audio files, for example the startup sound of Windows or sounds that Windows use are mainly
        stored in WAV files. It can also be used as game, system and CD audio files.</td>
      <td class="textAlign">I did not use a WAV file as my audio files because it's not supported everywhere (I edited
        my video and rendered it on an iPad).
      </td>
    </tr>
    <tr>
      <td>mov</td>
      <td class="textAlign">A MOV file is a comman multimedia container file format developed by Apple. Although Apple
        was the creator, it is compatible with Mac and Windows.</td>
      <td class="textAlign">I did not use a MOV file to store my video or audio files because I am not that familiar
        with it and it's not standardly used.</td>
    </tr>
  </table>
  <br />
  <br />


  <h2>Plugins</h2>
  <div class="uk-text-left">
    You can use Plugins for multiple things. For example you can use them to customize your Browser, Web Apps, Apps,
    Programs whatever you like, however you like. Plugins can be used in so many different ways. It can be used to block
    content, to read and display content, to stylewise change content and more.
    <br />
    <br />
    Some good Plugins to use and have are the Adobe Acrobat Reader, which allows you to open, read and edit a PDF file
    in your browser. Another one is an AdBlocker so whenever you visit a website with inappropriate advertisement or
    just annoying advertisement, you can block them using an AddBlocker. A (in the past) wildely used Plugin was also
    the Adobe Flash Player. It was used to play some videos on websites or play games on websites that needed it.
    <br />
    <br />
    There are also extensions which you can use in a browser. Both plugins and extensions add functionality to the
    browser. The have a difference though. Plugins only know about the page in which they're embedded. while extensions
    can gather information and can be used across all pages.
  </div>
  <br />
  <br />





  <h4 style="color:red;">DISCLAIMER</h4>
  <div class="uk-text-left">
    All requirements and whether they have a cross or a tick in them is my personal view. For example if I have a cross
    somewhere on a Tool that could fullfill
    the requirement, it's not crossed out because it can't do it in the first place, it's crossed out because it does
    not live up to my expectations.
  </div>

  <br />
  <br />


</div>
