  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
    uk-slideshow="animation: push; autoplay: true; autoplay-interval: 6000; ratio: false">

    <ul class="uk-slideshow-items" uk-height-viewport="offset-top: true; offset-bottom: 0">
      <li>
        <img src="../../../assets/pictures/placeholder1.jpeg" alt="" uk-cover>
      </li>
      <li>
        <img src="../../../assets/pictures/placeholder2.jpeg" alt="" uk-cover>
      </li>
      <li>
        <img src="../../../assets/pictures/placeholder3.jpeg" alt="" uk-cover>
      </li>
      <li>
        <img src="../../../assets/pictures/placeholder4.jpeg" alt="" uk-cover>
      </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
      uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
      uk-slideshow-item="next"></a>
  </div>
