<div class="uk-container">

  <br />

  <h3>You have a question? Or anything you want to tell me? Get in touch with me here</h3>

  <form method="POST" action="https://formspree.io/celina.urwank@outlook.com">
    <fieldset>
      <legend>Contact me!</legend>

      <div class="uk-margin">
        <label>Name</label>
        <input class="uk-input" type="text" name="name" placeholder="Your name">
      </div>

      <div class="uk-margin">
        <label>E-Mail</label>
        <input class="uk-input" type="email" name="email" placeholder="Your e-mail address">
      </div>

      <div class="uk-margin">
        <label>Your message towards me</label>
        <textarea class="uk-textarea" rows="5" type="email" name="message" placeholder="Your message"></textarea>
      </div>

      <p uk-margin>
        <button class="btnContact uk-button uk-button-default" type="submit">Submit</button>
      </p>
      <br />
      <br />
    </fieldset>
  </form>

</div>
