.flexBox {
    flex-wrap: wrap;
}

.marginTop {
    margin-top: -40px;
}

.toTop {
    float: right;
    margin-top: -40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 150%;
}

