<div class="uk-flex uk-flex-center@m uk-flex-center@l flexBox">
  <div>
    <div class="uk-card uk-card-body">
      <img data-src="../assets/pictures/doggo.jpg" width="500" height="1200" alt="" uk-img>
    </div>
  </div>

  <div>
    <div class="uk-card uk-card-body">
      <img data-src="../assets/pictures/doggo.jpg" width="500" height="1200" alt="" uk-img>
    </div>
  </div>

  <div>
    <div class="uk-card uk-card-body">
      <img data-src="../assets/pictures/doggo.jpg" width="500" height="1200" alt="" uk-img>
    </div>
  </div>

  <div>
    <div class="uk-card uk-card-body">
      <img data-src="../assets/pictures/doggo.jpg" width="500" height="1200" alt="" uk-img>
    </div>
  </div>

  <div>
    <div class="uk-card uk-card-body">
      <img data-src="../assets/pictures/doggo.jpg" width="500" height="1200" alt="" uk-img>
    </div>
  </div>
</div>
