.flexBox {
  flex-wrap: wrap;
}

.marginTop {
  margin-top: -40px;
}

.toTop {
  float: right;
  margin-top: -40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 150%;
}

.uk-iconnav a:hover {
  color: #6700b0 !important;
}


/* dialog styling */
modal {
  /* modals are hidden by default */
  display: none;
}

modal .modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .modal-background */
  z-index: 1000;

  /* enables scrolling for tall modals */
  overflow: auto;
}

.modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .modal and above everything else  */
  z-index: 900;
}

modal .modal .modal-body {
  padding: 20px;
  background: #fff;

  /* margin exposes part of the modal background */
  margin: 40px;
}


/* drag and drop styling*/
.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 80vw;
  height: 100px;
  border: 3px dashed lightgrey;
  background: white;
}

.dropzone:hover {
  border: 3px dashed lightgreen;
  color: #dadada !important;
}

.file-label {
  font-size: 1.2em;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

.inputBtn {
  width: 300px;
  height: 30px;
  font-size: 80%;
}

.container {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
}

.itemPicture {
  margin: -40px;
}

.itemPicture:hover {
  opacity: 0.3;
  transition: 0.6s;
  cursor: pointer;
}


/* masonary styling */
.masonry {
  column-count: 3;
  column-gap: 1em;

  margin: 1.5em auto;
  column-gap: 1.5em;
}

.item {
  background-color: #eee;
  margin: 0 0 1em;
  width: 100%;

  background: #fff;
  margin: 0 0 1.5em;
}


@media all and (max-width: 520px) {
  .masonry {
    column-count: 1 !important;
  }

  .item {
    margin-top: 30px;
  }
}

@media all and (max-width: 1140px) {
  .masonry {
    column-count: 2;
  }

  .item {
    margin-top: 10px;
  }
}


/* image view styles */
#custom-modal-2 {
  text-align: center;
}

#custom-modal-2 .modal {
  width: 101%;
}

#custom-modal-2 a {
  float: right;
  margin-bottom: 10px;
}

#custom-modal-2 a:hover {
  color: #6700b0 !important;
}
